<h4>List</h4>
<ul class="list-group">

  <!--index is already defined by our ngFor by default, first  is literally the frist element of our ngfor-->
  <li *ngFor="let character of characterList;

   let i = index;

   let isFrist = first;
   let isLast = last;
   let isEven = even;
   let isOdd = odd;
   " class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{'list-group-item-success' : isLast,
                'list-group-item-primary' : isEven

  }">
    <!-- what is does the  NGCLASS  depends on condition we can add class
  what is base by the expression that is has (after :) do something.
    also you can add "," to have multiple condition
-->
    <div>

      <span class="text-primary">{{i }}. </span>

      <span>{{character.name }} - </span>

      <strong> Power: </strong>

      <span>{{character.power }}</span>
      <br>
    </div>
    <!-- <span>es el primero: {{ isFrist }} - </span>
      <span>es el ultimo: {{ isLast }}</span> -->
    <!-- <span>Is Even: {{isEven }} </span>
    <span>Is Odd: {{isOdd }}</span> -->
    <button (click)="onDeletedCharacterFromList(i)"
     class="btn btn-danger">X</button>

  </li>
</ul>
