
<!-- Here we put all html elements in the component -->

<H1>{{title}}</H1>
<!-- <hr>
<h3>Counter: {{counter}}</h3>

 inside of () we have a lot of methods that we can call, but right we´ll be focus on click, that means when -->
<!--  someone do a click it will call the next method *increaseBy* that you can find it on "app.component.ts"-->
<!-- <button (click)="increaseBy(+1)">+1</button> -->
<!-- <button (click)="increaseBy(-1)">-1</button> -->
<!-- <button (click)="resetCounter()">reset</button> -->

<!-- <hr> -->
<!-- <app-counter></app-counter> -->

<app-heroes-hero></app-heroes-hero>
<app-heroes-list></app-heroes-list>
