<h1>{{name}}</h1>


<dl>
<td>Name: </td>
<dd>{{name}} </dd>

<td>Edad: </td>
<dd>{{age}} </dd>

<td>Metodo: </td>
<dd>{{ getHeroDescription()}} </dd>

<td>Capitalizado: </td>
<dd>  {{capitalizedName}}</dd>

</dl>


<button
*ngIf="name !== 'Batman'"
class="btn btn-primary mx-2"
  (click)="changeHero()">
  Cambiar nombre
</button>

<!-- With ngif it destroy the elemnt where it is. -->
<button
*ngIf="age !== 50"
class="btn btn-primary"
(click)="changeAge()">
Cambiar edad
</button>

<button
class="btn btn-primary mx-2"
(click)="resetForm()">
Reset Form
</button>
