<h1>DBZ Characters</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- Here we are calling the property that we have in our component dbz-list with [] and in the equals we put the property
    that we can pass to our child
    -->
    <!-- Listen a event is with () -->

    <!-- we pass the property that we make on our component -->
    <dbz-list [characterList]="dbzService.characters"
    (onDeleted)="dbzService.deletedCharacterById($event)"
    ></dbz-list>
  </div>
  <div class="col">
    <dbz-add-character (onNewCharacter)="dbzService.onNewCharacter($event)"></dbz-add-character>
  </div>

</div>
